body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 700px;
  background-color: rgb(143, 13, 13);
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
}


.app {
  background-color: red;
}

.specials {
 width: 20px;
}


.logo-container {
  display: block;
  align-content: center;
  height: 50px;
  padding: 20px;
}

.numbs {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 66px;
  font-size: 37px;
  color: white;
  background-color: rgb(31, 31, 110);


}

.display {
    background-color: gray;
    border-radius: 136px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 60px;
    padding: 10px;
}

.numDiv {
  width: 336px;
}

.numbs:nth-child(10) {
  width: 180px;
}

.special {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 66px;
  font-size: 37px;
  color: white;
  background-color: rgb(97, 97, 185);


}

.operator {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 66px;
  font-size: 37px;
  color: white;
  background-color: rgb(97, 97, 185);

}

.allNum {
  display: flex;
    flex-direction: row;
}

.operatorNum {
  margin: 0 auto;
}